body{
    padding: 0;
    margin: 0;
    background-color:floralwhite;
    background-image: url("m111.jpg");
}

p{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-family: 'Sofia';font-size: 22px;
}
}
    text-align: center;
}
.a2{
    margin-top: 820px;
}
.slider-frame{
    overflow: hidden;
    height: 520px;
    width: ;
    
    
    
    margin-top: 0x;
}

/*---------- SLIDE ANIMATION --------------*/

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 2400px;}
    70% {left: 1200px;}
    80% {left: 1200px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 32000px;
    
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 300px;
    width: 1300px;
    position: relative;
    float: left;
}

/*------------- END OF ANIMATION PART ---------------*/





/*------------- START OF COUNTDOWN PART ---------------*/

#clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 40%; 
    opacity: 0.6;
    margin-top: -950px;
    margin-left:150px;
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 60%; 
    background: #00816A; 
    display: inline-block; 
} 
smalltext{ 
     
    font-size: 16px; 
} 


